<footer>
    <br /><br /><br />

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline">
                    
                    <li class="list-inline-item">
                        <a href="https://github.com/MingyaoLiu">
                            <fa-icon [icon]="faGithub" size="lg" style="color: black;"></fa-icon>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/mingyaoliu13">
                            <fa-icon [icon]="faFacebook" size="lg" style="color: black;"></fa-icon>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/TensorVortex">
                            <fa-icon [icon]="faTwitter" size="lg" style="color: black;"></fa-icon>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; TensorVortex {{getYear()}}</p>
            </div>
        </div>
    </div>
</footer>
