<div class="container" style="font-family:Arial, Helvetica, sans-serif !important">
    <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-16 mx-auto">
            <div class="row mx-auto">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-4 pb-4" style="height: 15rem">
                    <div class="row mx-auto"
                        style="background-image: url(../../assets/head2.png); background-size: contain; background-position: center; height: 100%; background-repeat: no-repeat">

                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mx-auto" style="height: 15rem; ">
                    <div class="row h-100">
                        <div class="col col-md-12 col-lg-12 col-sm-12 col-xs-12 w-100 my-auto">

                            <h1 style="font-weight: 600; color: black">Mingyao Liu</h1>
                            <p>Full Stack Software Engineer</p>
                        </div>
                        <div class="col my-auto col-sm-4 col-md-12 col-lg-6">
                            <a href="mailto:mingyaoliu93@gmail.com">
                                <fa-icon id="EmailLink" [icon]="faEnvelope" style="color: black; text-decoration: none">
                                </fa-icon>
                            </a>
                        </div>
                        <div class="col my-auto col-sm-4 col-md-12 col-lg-6">
                            <a href="tel:+12267508200">
                                <fa-icon id="PhoneLink" [icon]="faPhone" style="color: black;"></fa-icon>
                            </a>
                        </div>
                        <div class="col my-auto col-sm-4 col-md-12 col-lg-6">
                            <a href="http://mingyaoliu.com">
                                <fa-icon id="WebsiteLink" [icon]="faGlobe" style="color: black;"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-12 col-md-12 col-sm-12 w-100">

                    <hr>
                </div>
            </div>

            <div class="row mx-auto">

                <div class="col-lg-4 col-md-4 col-sm-16" style=" background-color: #EFEFEF">
                    <div class="w-100 pt-4 pb-4">
                        <h1 style="text-align: center; font-family: Oswald !important">Profile</h1>
                        <hr class="resumeDivider">
                        <p>
                            • <b>5+</b> years experience in frontend framework <b>Angular</b>, <b>React</b>, <b>php</b>.
                            Backend server with modern <b>NodeJS</b> framework and <b>NoSQL</b> database. Strong
                            expertise in <b>Object Oriented Programming, and Functional Programming</b>, fluent
                            in <b>Javascript, Typescript, and Python</b>. Have project done with <b>C#</b> and
                            <b>JAVA</b>.<br /><br />

                            • Professional in managing and using <b>Agile frameworks</b> in software development, and
                            integration with SCM softwares. <br /><br />
                        </p>

                        <h1 class="w-100 pt-4" style="text-align: center; font-family: Oswald !important">Technical
                            Skill</h1>
                        <hr class="resumeDivider">
                        • <b>Language: </b>Typescript, JavaScript ES5+, HTML, CSS, PHP, Swift 3+ <br /><br />

                        • <b>Database: </b>MongoDB, DocumewntDB, DynamoDB, MySQL, SQLite, PostgreSQL, Realm<br /><br />

                        • <b>Framework: </b> NodeJS, Angular6+, React, React Native, Ionic, NativeScript, Bootstrap,
                        ThreeJS <br /><br />

                        • <b>Cloud: </b> Kubernetes, Docker, AWS, Azure, QEMU <br /><br />

                        • <b>Testing: </b> Jasmine, Karma, Mocha <br /><br />

                        • <b>DNN: </b> Tensorflow 2.0, Pytorch, Keras, Panda <br /><br />

                        <h1 class="pt-4" style="text-align: center; font-family: Oswald !important">Interests
                        </h1>
                        <hr class="resumeDivider">
                        <p>I love <b>classical cryptography</b>, and I have developed CipherX app on iOS, Android,
                            Web in my free time.</p>
                        <p>Avid <b>3D printing</b> advocator, love to print and design 3D model using freeware fusion360
                            or
                            openSCAD.
                        </p>


                        <h1 class=" pt-4" style="text-align: center; font-family: Oswald !important">Contact
                        </h1>
                        <hr class="resumeDivider">
                        <p>
                            568 Beaver Creek Cres.<br />
                            Waterloo, ON<br />
                            N2V 2J6<br />
                            Canada
                        </p>



                        <h1 class="w-100 pt-4" style="text-align: center; font-family: Oswald !important">Social
                            Profiles</h1>
                        <hr class="resumeDivider">
                        <div class="social-icons">
                            <a href="https://github.com/MingyaoLiu">
                                <fa-icon [icon]="faGithub" size="lg" style="color: black;"></fa-icon>
                            </a>
                            <a href="https://www.facebook.com/mingyaoliu13" style="margin-left: 0.75rem;">
                                <fa-icon [icon]="faFacebook" size="lg" style="color: black;"></fa-icon>
                            </a>
                            <a href="https://twitter.com/TensorVortex" style="margin-left: 0.75rem;">
                                <fa-icon [icon]="faTwitter" size="lg" style="color: black;"></fa-icon>
                            </a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-8 col-md-8 col-sm-16 ">
                    <h1 class="pt-4" style="text-align: center; font-family: Oswald !important">Experience</h1>
                    <hr class="resumeDivider">

                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0" style="font-weight: bold">Robotic pathfinding</h3>

                            <div class="flex text-md-right">
                                <span class="text-primary">Jan 2020 - Now</span>
                            </div>

                            <div class="subheading mb-3"></div>
                            <p>Python Project utilizing Computational Vision and Machine Learning.</p>
                            <p>Implement OpenCV, keyboard control, and DirectX capture to automate a robotic car path
                                finding algorithm.</p>
                            <p>Path regulation with map masks and edge detection.</p>
                        </div>

                    </div>

                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0" style="font-weight: bold">Software Developer and founder@rvftime technology
                            </h3>

                            <div class="flex text-md-right">
                                <span class="text-primary">March 2018 - Dec 2019</span>
                            </div>

                            <div class="subheading mb-3"></div>
                            <p>Full stack mobile/web project with Typescript Angular 6/8 frontend.</p>
                            <p>Integrate backend NodeJS http server with frontend using RESTful API and RTC socket.</p>
                            <p>ML research project on eye cancer detector, record and
                                analyse eye cancer image data. Reached an <b>accuracy of 90%</b> for detecting
                                eye cancer from eye images.
                            </p>
                        </div>

                    </div>

                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0"><b>Lead Software Developer</b></h3>
                            <div class="subheading mb-3">Emmetros Ltd.</div>

                            <div class="resume-date text-md-right">
                                <span class="text-primary">March 2015 - April 2018</span>
                            </div>
                            <p>Lead a team to develop the MemorySparx <b>front end application</b>.</p>
                            <p>Developed feature rich frontend dynamic web application using modern web framework.</p>
                            <p>Implement encryted database and authentication in the front end application.</p>
                        </div>
                    </div>

                    <!-- <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0"><b>RBC Campus Ambassador</b></h3>
                            <div class="subheading mb-3">Royal Bank of Canada</div>
                            <div class="resume-date text-md-right">
                                <span class="text-primary">Sept 2015 - Dec 2015</span>
                            </div>
                            <p>Representing RBC Recruitment Team at University of Waterloo.</p>
                            <p>Connect students with RBC recruitment team, and manage Q&A session.</p>
                        </div>
                    </div> -->

                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0"><b>Software Developer</b></h3>
                            <div class="subheading mb-3">Royal Bank of Canada</div>
                            <div class="resume-date text-md-right">
                                <span class="text-primary">May 2015 - August 2015</span>
                            </div>
                            <p>Develop prototypes for banking system utilizing cloud technology.</p>
                            <p>Collabration with Recruitment team to develop recruitment web application using
                                angularJS.</p>
                            <p>Develop mobile first solution for sending money through NFC and other OTA methods.</p>
                        </div>
                    </div>

                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0"><b>Junior Software Developer</b></h3>
                            <div class="subheading mb-3">Royal Bank of Canada</div>
                            <div class="resume-date text-md-right">
                                <span class="text-primary">May 2014 - August 2014</span>
                            </div>
                            <p>Work on the offical RBC client banking application.</p>
                            <p>Implement front end javascript application in client app.</p>
                            <p>Manage build and deployment to cloud platform for multiple mobile platform.</p>
                        </div>
                    </div>

                    <h1 style="text-align: center; font-family: Oswald !important">Certificate</h1>
                    <hr class="resumeDivider">

                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0"><b>Server-side Development with NodeJS, Express and MongoDB
                                </b></h3>
                            <small><a
                                    href="https://www.coursera.org/account/accomplishments/certificate/RAA2TCZTXFKK">https://www.coursera.org/account/accomplishments/certificate/RAA2TCZTXFKK</a></small>
                        </div>
                    </div>
                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0"><b>Getting Started with Google Kubernetes Engine
                                </b></h3>

                            <small><a
                                    href="https://www.coursera.org/account/accomplishments/certificate/SWSE7E9GHGCB">https://www.coursera.org/account/accomplishments/certificate/SWSE7E9GHGCB</a></small>
                        </div>
                    </div>



                    <h1 style="text-align: center; font-family: Oswald !important">Education</h1>
                    <hr class="resumeDivider">

                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0"><b>University of Waterloo</b></h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div class="resume-date text-md-right">
                                <span class="text-primary">Sept 2012 - April 2017</span>
                            </div>
                            <small>Logic and Computation, Object Oriented Software Development, Concurrent and Parallel
                                Programming, etc </small>
                        </div>
                    </div>

                    <h1 class="w-100 pt-4" style="text-align: center; font-family: Oswald !important">Awards
                    </h1>
                    <hr class="resumeDivider">
                    <p>• AWS Education Data Scientist</p>
                    <p>• University of Waterloo Presidential Award</p>
                </div>

            </div>
            <div class="row mx-auto w-100">

            </div>
            <br />

        </div>
    </div>
</div>