#home-header {
    background-image: url(../../assets/bg_1280_548_5.png);
    background-size: cover;
    height: 187px
}
#home-header .content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.homeTVFloat {
    display: none;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

    .homeTVFloat {
        display: none;
    }
    #home-header {
        height: 274px
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .homeTVFloat {
        display: none;
    }
    #home-header {
        height: 426px
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
    .homeTVFloat {
        display: block;
    }
    #home-header {
        height: 548px
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
    .homeTVFloat {
        display: block;
    }
    #home-header {
        height: 548px
    }
}