<header id="home-header" class="pageHeader" (mousemove)="onMouseMove($event)">
    <div class="container" style="pointer-events: none; ">
        <app-menu-btn></app-menu-btn>

        <div class="homeTVFloat" #ttref style="position: absolute; right: 20rem; top: 5rem;">
            <span style="font-size: 3rem; font-family: CapSharp !important">Tensor</span>
        </div>
        <div class="homeTVFloat" #vtref style="position: absolute; right: 10rem; top: 9rem;">
            <span style="font-size: 3rem; font-family: CapSharp !important">Vortex</span>
        </div>
        <div class="content">
            <h1><b>Mingyao Liu</b></h1>
            <h2>Full-Stack Software Engineer · Entrepreneur</h2>
            <h2>Waterloo, ON</h2>
        </div>

    </div>
</header>


<div class="alert alert-primary" role="alert">
    Wesite is under construction, many placeholder data present, please come back in a few days!
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">
            <br />
            <h2>2019 Repo Status</h2>
            <div class="horizontalDivider"></div>
            <br />
            <img style="width: 100%" src="http://ghchart.rshah.org/409ba5/MingyaoLiu" alt="Mingyao's Github chart" />
            <br />
        </div>
    </div>
</div>
<app-footer></app-footer>